<h1>All Posts</h1>

<ul id="posts">
  <% @post.each do |p| %>
    <li>
      <%= link_to  p.title, posts_path %>
      <% if user_signed_in? %>
        <%= p.user.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to  "New Post", new_post_path %>

<br />
<br />

